ul.mainMenu
    each item in menu
        li
            a(href=item.url)= item.caption
            if (item.submenu)
                ul.popup
                    each s in item.submenu
                        li= s.caption