.idea
src/static/bower_components
src/static/vendor
build
node_modules
release
temp
src/nodejs/node_modules
src/nodejs/config.json
src/nodejs/npm-debug.log
src/nodejs/template
src/static/styles/_spriteVariables.scss
src/static/img/sprite.png
staticFiles