/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$icon-box-x: 50px;
$icon-box-y: 60px;
$icon-box-offset-x: -50px;
$icon-box-offset-y: -60px;
$icon-box-width: 25px;
$icon-box-height: 25px;
$icon-box-total-width: 115px;
$icon-box-total-height: 85px;
$icon-box-image: 'sprite.png';
$icon-box: 50px 60px -50px -60px 25px 25px 115px 85px 'sprite.png';
$icon-calc-x: 0px;
$icon-calc-y: 60px;
$icon-calc-offset-x: 0px;
$icon-calc-offset-y: -60px;
$icon-calc-width: 25px;
$icon-calc-height: 25px;
$icon-calc-total-width: 115px;
$icon-calc-total-height: 85px;
$icon-calc-image: 'sprite.png';
$icon-calc: 0px 60px 0px -60px 25px 25px 115px 85px 'sprite.png';
$icon-ruler-x: 60px;
$icon-ruler-y: 30px;
$icon-ruler-offset-x: -60px;
$icon-ruler-offset-y: -30px;
$icon-ruler-width: 25px;
$icon-ruler-height: 25px;
$icon-ruler-total-width: 115px;
$icon-ruler-total-height: 85px;
$icon-ruler-image: 'sprite.png';
$icon-ruler: 60px 30px -60px -30px 25px 25px 115px 85px 'sprite.png';
$icon-setting-x: 25px;
$icon-setting-y: 60px;
$icon-setting-offset-x: -25px;
$icon-setting-offset-y: -60px;
$icon-setting-width: 25px;
$icon-setting-height: 25px;
$icon-setting-total-width: 115px;
$icon-setting-total-height: 85px;
$icon-setting-image: 'sprite.png';
$icon-setting: 25px 60px -25px -60px 25px 25px 115px 85px 'sprite.png';
$icon-soc-fb-x: 30px;
$icon-soc-fb-y: 0px;
$icon-soc-fb-offset-x: -30px;
$icon-soc-fb-offset-y: 0px;
$icon-soc-fb-width: 30px;
$icon-soc-fb-height: 30px;
$icon-soc-fb-total-width: 115px;
$icon-soc-fb-total-height: 85px;
$icon-soc-fb-image: 'sprite.png';
$icon-soc-fb: 30px 0px -30px 0px 30px 30px 115px 85px 'sprite.png';
$icon-soc-instagram-x: 0px;
$icon-soc-instagram-y: 30px;
$icon-soc-instagram-offset-x: 0px;
$icon-soc-instagram-offset-y: -30px;
$icon-soc-instagram-width: 30px;
$icon-soc-instagram-height: 30px;
$icon-soc-instagram-total-width: 115px;
$icon-soc-instagram-total-height: 85px;
$icon-soc-instagram-image: 'sprite.png';
$icon-soc-instagram: 0px 30px 0px -30px 30px 30px 115px 85px 'sprite.png';
$icon-soc-ok-x: 0px;
$icon-soc-ok-y: 0px;
$icon-soc-ok-offset-x: 0px;
$icon-soc-ok-offset-y: 0px;
$icon-soc-ok-width: 30px;
$icon-soc-ok-height: 30px;
$icon-soc-ok-total-width: 115px;
$icon-soc-ok-total-height: 85px;
$icon-soc-ok-image: 'sprite.png';
$icon-soc-ok: 0px 0px 0px 0px 30px 30px 115px 85px 'sprite.png';
$icon-soc-twitter-x: 30px;
$icon-soc-twitter-y: 30px;
$icon-soc-twitter-offset-x: -30px;
$icon-soc-twitter-offset-y: -30px;
$icon-soc-twitter-width: 30px;
$icon-soc-twitter-height: 30px;
$icon-soc-twitter-total-width: 115px;
$icon-soc-twitter-total-height: 85px;
$icon-soc-twitter-image: 'sprite.png';
$icon-soc-twitter: 30px 30px -30px -30px 30px 30px 115px 85px 'sprite.png';
$icon-soc-vk-x: 60px;
$icon-soc-vk-y: 0px;
$icon-soc-vk-offset-x: -60px;
$icon-soc-vk-offset-y: 0px;
$icon-soc-vk-width: 30px;
$icon-soc-vk-height: 30px;
$icon-soc-vk-total-width: 115px;
$icon-soc-vk-total-height: 85px;
$icon-soc-vk-image: 'sprite.png';
$icon-soc-vk: 60px 0px -60px 0px 30px 30px 115px 85px 'sprite.png';
$icon-tools-x: 90px;
$icon-tools-y: 0px;
$icon-tools-offset-x: -90px;
$icon-tools-offset-y: 0px;
$icon-tools-width: 25px;
$icon-tools-height: 25px;
$icon-tools-total-width: 115px;
$icon-tools-total-height: 85px;
$icon-tools-image: 'sprite.png';
$icon-tools: 90px 0px -90px 0px 25px 25px 115px 85px 'sprite.png';
$icon-update-x: 90px;
$icon-update-y: 25px;
$icon-update-offset-x: -90px;
$icon-update-offset-y: -25px;
$icon-update-width: 25px;
$icon-update-height: 25px;
$icon-update-total-width: 115px;
$icon-update-total-height: 85px;
$icon-update-image: 'sprite.png';
$icon-update: 90px 25px -90px -25px 25px 25px 115px 85px 'sprite.png';
$icon-water-x: 90px;
$icon-water-y: 50px;
$icon-water-offset-x: -90px;
$icon-water-offset-y: -50px;
$icon-water-width: 25px;
$icon-water-height: 25px;
$icon-water-total-width: 115px;
$icon-water-total-height: 85px;
$icon-water-image: 'sprite.png';
$icon-water: 90px 50px -90px -50px 25px 25px 115px 85px 'sprite.png';

