@import "variables";

.v-menuType {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 6px;
  text-align: left;
  display: table;
  width: $widthMain;
  margin: 6px auto;
  padding-bottom: 15px;

  .item {
    height: 305px;
    display: table-cell;
    width: 33.3%;
    text-align: center;
    font-size: 18px;
    padding: 11px 25px;
    line-height: 20px;
    color: black;
    opacity: 0.85;
    transition: opacity 0.3s;
    background: no-repeat center bottom transparent;

    &:hover {
      opacity: 1;
      color: #ff850b;
      text-decoration: none;
    }
  }

}

.advBlock {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  height: 325px;
  width: $widthMain;
  margin: 6px auto;
}

.popProduction {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  height: 250px;
  width: $widthMain;
  margin: 6px auto;
}

.photosSlider {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 210px;
  width: $widthMain;
  margin: 6px auto;
  background: #fff;
}

.v-fooretMenu {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 50px;
  width: $widthMain;
  margin: 6px auto;
  background: #fff;
  line-height: 50px;
  font-size: 12px;

  .item {
    color: #849dc3;
    margin-left: 10px;
  }

}

.v-partners {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 90px;
  width: $widthMain;
  margin: 6px auto;
  background: #fff;
  padding: 6px 17px;
  text-align: center;

  h5 {
    text-align: left;
    font-weight: bold;
    margin: 0;
  }

  .item {
    margin-right: 31px;
    vertical-align: middle;
  }

  & :last-child {
    margin-right: 0;
  }

}


.footerMargin {
  height: 48px;
}

.v-footer {
  box-shadow: inset 0 1px 0 #e5e5e5, inset 0 2px 0 #fff;
  height: 29px;
  line-height: 29px;
  position: fixed;
  background: #fafafa;
  left: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  bottom: 0;

  .inner {
    width: 960px;
    margin: 0 auto;
    text-align: right;
  }

  .prizeButton {
    float: left;
    background-color: #879fc4;
    color: white;
    width: 160px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    box-shadow: inset 0 1px 0 #879fc4, inset 0 2px 0 #aabcd5;

  }

  .item {
    margin: 5px;
    color: #849dc3;

    &:hover {
      color: #ff850b;
      text-decoration: none;
    }
  }

}
