@import "variables";
@import "sprite";

.v-header {
  width: $widthMain;
  z-index: 10;
  position: relative;
  background: $bgColor;
  color: #27292c;
  margin: 6px auto;

  .top {
    height: 82px;
    overflow: hidden;
    transition: height 0.2s;
    font-size: 12px;

    & > div {
      height: 100%;
      padding-top: 15px;
    }

    .companyName {
      padding-left: 25px;

      h3 {
        font-size: 18px;
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
      }

      .slogan {
        margin-top: 2px;
        line-height: 1.1em;
      }
    }

    .logo {
      display: inline-block;
      margin-top: -9px;
      height: 100%;
      width: 124px;
      background: url('/img/logo_main.png') center no-repeat transparent;
    }

    .phone {
      font-size: 18px;
      font-weight: normal;

      &:before {
        content: "";
        display: inline-block;
        @include sprite($phone);
        vertical-align: middle;
        margin-right: 7px;
      }
    }

    strong {
      margin-left: 3px;
    }

    .openingTime {
      font-size: 10px;
    }

    .contact {
      text-align: center;

      .email {
        line-height: 40px;

        &:before {
          content: "";
          display: inline-block;
          margin-right: 3px;
          @include sprite($mail);
        }
      }
    }

    .userBlock {
      height: 35px;
      position: relative;
      text-align: center;

      .count {
        position: absolute;
        border-radius: 7px;
        background-color: #e90015;
        color: white;
        height: 15px;
        min-width: 15px;
        left: 41px;
        top: 14px;
      }

      .basket {

        &:before {
          @include sprite($basket);
          content: "";
          float: left;
          margin: 6px 0 0 8px;
        }

        .inner {
          margin-left: 45px;
          text-align: center;
          line-height: 1.2em;

          .caption {
            font-weight: bold;
            color: $colorText;
          }

          .value {
            font-size: 14px;
            color: #27292c;
            &:after {
              content: ' руб.';
            }
          }
        }
      }

      .login {
        line-height: 37px;
      }
    }

  }

  @import "mainMenu";

}