@import "commons";
@import "sprite";

.v-triggers {
  @include commonsBox();
  padding: 6px 0 15px;
  text-align: left;
  display: table;
  width: 100%;

  .trigger {
    padding-left: 58px;
    display: table-cell;
    padding-top: 16px;
    width: 33.3%;
    padding-right: 6px;
    margin-bottom: 5px;
    position: relative;

    &:before {
      @include sprite($ok);
      content: "";
      position: absolute;
      top: 10px;
      left: 6px;
    }

    h4 {
      margin: 0;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

  }

}