@import "variables";
@import "atomic";
@import "v-main";
@import "temp";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=cyrillic,latin);

html {
  margin: 0;
  padding: 0;
}

body {
  background: $bgColor;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
