@import "variables";
@import "atomic";

html {
  margin: 0;
  padding: 0;
}

body {
  background: $bgColor;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@import "v-main";
@import "v-header";
@import "v-subMenu";
@import "v-socialButton";
@import "v-triggers";
@import "v-slider";
@import "v-measurement";
@import "v-faq";
@import "v-reviewRotator";
@import "temp";