.wrapHeader
    .header
        .top.row
            .col-xs-2
                a.logo(href='#')
            .col-xs-3
                h3= nameCompany
                p= slogan
            .col-xs-3
                .phone= phone
                .openingTime= openingTimes
            .col-xs-2 Закажи звонок
            .col-xs-2 Корзина
        != menu