include ./mixin/styles
include ./mixin/scripts
doctype html
html
    head
        meta(charset="utf-8")
        title CC
        !=metaTags
        +styles
    body
        !=header
        != subMenu
        != content
        != footerMenu
        != partners
        != socialButton
        .footerMargin
        != footer
    +scripts
    != scripts