.v-reviewsRotator.commonBox(data-review-rotator, data-id = 1)
    h2 Отзывы клиентов
    .reviewList
        .prevBtn(data-prev)
        .nextBtn(data-next)
        .cnt(data-cnt)
            .inner(data-tape)
                each item in list
                    .review
                        .text= item.text
                        .avatar(class= item.sex)
                            if (item.avatar)
                                .photo(style="background-image: url('" + item.avatar + "')")
                        .name= item.name
                        .contacts= item.contact
    a.btn-gray(href='/review.html') Читать все отзывы