.v-socialButton
    .share
        !=shareButton
    span Контроль Холода в социальных сетях:
    each item in list
        a.item(href=item.url, title= item.description, target="_blank", class=item.cssClass)
