extends layout
block content
    .main
        .wrapHeader
            .header
                .top.row
                    .col-xs-2
                        a.logo(href='#')
                    .col-xs-3
                        h3 КОНТОЛЬ ХОЛОДА
                        p весь спектр услуг систем кондиционирования
                    .col-xs-3 (495) 979-23-05
                    .col-xs-2 Закажи звонок
                    .col-xs-2 Корзина
                ul.mainMenu
                    li Бренды
                    li По типу
                    li По классу
                    li Дизайнерские
                    li VRV
                    li VRF
                    li Чиллеры
                    li Файнколы
                    li Акссесуары
                    li Расходка
                    li(style='color:#ff850b') Акция
                    li(style='color:#ffcc00') Конкурс
        .subMenu
            .item Мотажные работы
            .item Ремонт и сервисное обслуживание
            .item VRV и VRF системы
            .item Чиллер-фанкойлы
            .item Венетиляция
            .item Проектирование
            .item Калькулятор мощности
        .slider
        .trigger Тут тригеры
        .advBlock Тут слайдер
        .popProduction Популярные товары
        .advZamer Бесдланый вызов замерщика
        .reviews Отзывы
        .advHelp Плючы и минусы
        .photosSlider Наши работы
        .footerMenu О компании | Рейнитг | Статьи | Контакты
        .partners Наши партнеры
        .social Контроль холода в социальных сетях
        .footer